{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Dossier d'inscription en classe préparatoire aux grandes
      écoles</title>
    <link rel="stylesheet" type="text/css" href="{% static 'inscrire/style_dossier.css' %}">
  </head>
  <body>
    <header>
      <span id='logo-etablissement'></span>
      <div id='titre'>
        <h1>Classes préparatoires aux grandes écoles<br>Dossier d'inscription</h1>
      </div>
      <img id='photo-candidat' src="{{ ficheidentite.photo.url }}">
    </header>

    <section class="fiche" id='ficheidentite'>
      <h2>Identité de l'étudiant</h2>
      <p>
        <span><em>Nom</em> : {{ candidat.last_name }}</span>
        <span><em>Prénom</em> : {{ candidat.first_name }}</span>
      </p>

      <p>
        <span><em>Sexe</em> : {{ candidat.get_genre_display }}</span>
      </p>

      <p>
        <span><em>Né le</em> : {{ candidat.date_naissance }}</span>
        <span><em>À</em> :
          {{ ficheidentite.commune_naissance }}
          {{ ficheidentite.commune_naissance_etranger }}</span>
      </p>

      <p>
        <span><em>Pays</em> : {{ ficheidentite.pays_naissance }}</span>
        <span><em>Nationalité</em> : {{ candidat.pays_nationalite }}</span>
      </p>

      <p>
        <span><em>Courriel de l'<strong>étudiant</strong></em>
          obligatoire</em> : {{ candidat.user.email }}</span>
      </p>

      <p>
        <span><em>Téléphone mobile de l'étudiant</em> :
          {{ candidat.telephone_mobile }}</span>
      </p>

      <p>
        <span><em>Adresse postale de l'élève à Grenoble</em> :
          {{ ficheidentite.adresse }}</span>
      </p>
    </section>

    <section class="fiche" id='fichescolarite'>
      <h2>Scolarité demandée</h2>

      <p>
        <span><em>Classe</em> : {{ voeu.formation }}</span>
      </p>
    </section>

    <section class="fiche" id='fichescolariteanterieure'>
      <h2>Scolarité pendant l'année précédente</h2>
    </section>

    {% for responsable in candidat.responsables.all %}
    <section class="fiche" class='responsablelegal'>
    </section>
    {% endfor %}

    <section class="fiche" id='fratrie'>
    </section>

    <section class="fiche" id='fichereglement'>
    </section>

    <section class="fiche" id='pieces-a-fournir'>
      <h2>Pièces à joindre à ce dossier</h2>
    </section>
  </body>
</html>
