{% load static %}
<!DOCTYPE html>
<html  lang="fr" dir="ltr">
<head>
  <meta charset="UTF-8"/>
  <title>{% block titre %}Scripsup{% endblock %}</title>
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  {% block head %}
  {% endblock %}
</head>
<body>
  <nav id="main_navigation">
    <h1><a href="{% url 'home' %}">Inscription en CPGE</a></h1>
    <ul>
      {% if user.is_authenticated %}
      <li><a href="{% url 'logout' %}">Déconnexion</a></li>
      {% endif %}
    </ul>
  </nav>

  <div id="contenu">
    {% block contenu %}
    {% endblock %}
  </div>
</body>
</html>
