{% load static %}
<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="UTF-8"/>
  <title>{% block titre %}Scripsup{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'inscrire/style.css' %}">
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  {% block head %}
  {% endblock %}
</head>
<body>
  {% block messages %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
  {% endblock %}
  <header role="banner">
    <h1><a href="{% url 'home' %}">Inscription <span class="subtitle">en
          CPGE</span></a></h1>
    <nav>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Déconnexion</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>

  <div id="contenu">
    {% block contenu %}
    {% endblock %}
  </div>
  {% block scripts %}
  {% endblock %}
</body>
</html>
