{% extends 'base.html' %}

{% block contenu %}
<h3>Candidat: {{candidat}}</h3>
<p>Numéro de dossier: {{candidat.dossier_parcoursup}}</p>
<p>Email: {{user.email}}</p>
<p>INE: {{personne.ine|default_if_none:"Non renseigné"}}</p>
<p>Date de naissance: {{personne.date_naissance}}</p>
<p>Responsables légaux:
  {% for responsable in candidat.responsables.all %}
    <a href = "/responsablelegal/{{responsable.pk}}">{{responsable}}</a>
    {% if not forloop.last %}
      &nbsp; ; &nbsp;
    {% endif %}
  {% empty %}
    Aucun
  {% endfor %}
</p>

{% include "personne.html" with personne=candidat %}

{% endblock %}
