{% extends 'base.html' %}

{% block contenu %}
<h3>Candidat: {{candidat}}</h3>
<p>Numéro de dossier: {{candidat.dossier_parcoursup}}</p>
<p>Email: {{user.email}}</p>
<p>INE: {{candidat.ine|default_if_none:"Non renseigné"}}</p>
<form method = "post" action = "">
    {% csrf_token %}
    {{form.as_p}}
    <input type = "submit" value = "Enregistrer" class="button"/>

    {% for fiche in fiches %}
    {% include fiche.template with fiche=fiche.fiche fiche_form=fiche.form candidat=fiche.fiche.voeu.candidat voeu=fiche.fiche.voeu formation=fiche.fiche.voeu.formation %}
    <input type="submit" value="Enregistrer"/>
    {% endfor %}
</form>
{% endblock %}
