{% extends 'base.html' %}

{% block contenu %}
<h2>Envoi du courrier d'activation</h2>

<p>Nous avons bien enregistré votre demande d'envoi du courrier
d'activation de votre espace personnel.</p>

<p>Nous allons interroger Parcoursup pour vérifier que votre numéro de
dossier correspond bien à un dossier admis dans notre établissement et
nous enverrons le courrier d'activation à l'adresse que vous avez
renseignée dans votre dossier Parcoursup.</p>

<p>Pour des raisons de confidentialité, nous ne pouvons pas indiquer sur
cette page si cette vérification a réussi ou non.</p>

<p>Suivez alors les instructions contenues dans ce message pour obtenir
l'accès à votre compte personnel.</p>

<p>Si vous ne recevez aucun courrier d'ici quelques minutes, voici
quelques vérifications que vous pouvez faire :</p>
<ul>
  <li>vérifiez que votre numéro de dossier Parcoursup est correct. Il
    s'agit d'un nombre qui contenant de 6 à 8 chiffres ;</li>
  <li>vérifiez que l'adresse électronique renseignée sur le site
    <a href="https://parcoursup.fr">Parcoursup</a> est bien votre
    adresse personnelle ;</li>
  <li>vérifiez que le courrier que nous vous avons envoyé n'a pas été
    par erreur placé parmi les courriers indésirables par votre
    messagerie ;</li>
  <li>vérifiez que, sur le site Parcoursup, vous avez bien accepté à
    titre définitif la proposition d'admission dans notre établissement,
    et qu'il ne vous reste aucun autre vœu en attente. L'accès à la
    procédure d'inscription n'est possible que lorsqu'il ne vous reste
    plus aucun autre vœu en attente.</li>
</ul>

<p>Si, malgré ces vérifications, vous ne parvenez pas à vous connecter,
contactez-nous directement par courrier électronique.</p>

{% endblock %}
