{% extends 'fiche/fiche_base_candidat.html' %}
{% block fiche_content %}
Les éléments suivants concernent les éléments concernant votre scolarité
antérieure. Il s'agit des informations concernant le lycée dans lequel
vous avez suivi votre année de terminale. Pour les candidats en
réorientation (qui ont déjà effectué au moins une année d'études), nous
vous demandons de renseigner le nom complet de la formation et de
l'établissement dans le champ « Autre formation ».
{{ block.super }}
{% endblock %}
