{% comment %}
Code de base pour afficher une fiche d'inscription. Ce gabarit n'est pas
servi directement mais inclus, par exemple par le gabarit de mise à jour
du candidat.

Si une fiche possède un gabarit personnalisé, celui doit s'appeler
nomdumodele_candidat.html ou nomdumodele_gestionnaire.html selon le
profil de l'utilisateur qui affiche la page.

S'il n'y a pas de gabarit personnalisé, c'est fiche_base_candidat.html
ou fiche_base_gestionnaire.html qui est appelé.

Ce gabarit peut utiliser les paramètres suivants de son contexte :
* fiche : le modèle hérité de Fiche,
* fiche_form : le formulaire d'édition correspondant,
* candidat : l'instance de Candidat (identique à fiche.voeu.candidat),
* voeu : l'instance du Voeu pour lequel le candidat s'inscrit (identique
         à fiche.voeu)
* formation : identique à fiche.voeu.formation

Il n'est pas nécessaire d'ajouter une balise <form>, c'est déjà fait par
le gabarit qui inclut la fiche.
{% endcomment %}
<section class="fiche {{ fiche.get_etat_class }}">
  <h3>{{ fiche.FICHE_LABEL }} − <span class="fiche-etat">
      {% if fiche.etat == fiche.ETAT_EDITION and fiche.valide and not fiche_form.errors %}
      Fiche complète, vous pouvez la valider
      {% else %}
      {{ fiche.get_etat_display }}
      {% endif %}</span></h3>
  {{fiche_form.entete|safe|linebreaks}}
  {% block fiche_content %}
  {{ fiche_form.as_p }}
  {{ fiche_form.media }}
  {% if fiche.etat == fiche.ETAT_EDITION %}
  <p>
  {% if fiche.etat == fiche.ETAT_EDITION and fiche.valide and not fiche_form.errors %}
  <input type="submit" form="form-valider-fiche-{{ fiche.pk }}" class="valider-fiche" value="Confirmer">
  {% endif %}
  </p>
  {% endif %}
  {% if fiche.etat == fiche.ETAT_EDITION and fiche.valide %}
  <p>Lorsque vous validez une fiche, celle-ci est transmise au
  secrétariat de l'établissement. Vous ne pouvez alors plus modifier la
  fiche. Votre dossier est complet lorsque toutes les fiches présentes
  sur cette page sont validées. <b>Attention: si vous modifiez des données, il faut cliquer sur "Enregistrer"
  et non sur "Valider".</b></p>
  {% endif %}
  {% endblock %}
</section>
