{% extends 'base.html' %}

{% block contenu %}
<h2>Bonjour {{ candidat }}</h2>

<p>
Bienvenue sur le service d'inscription en ligne. Vous avez accepté une
proposition d'admission en {{ voeu.formation }}. Ce site va vous
permettre de compléter en ligne votre dossier d'inscription
administrative.
</p>

<section id='infos-parcoursup'>
  <h3>Votre dossier Parcoursup</h3>
  <p>Ces éléments nous ont été communiqués par Parcoursup. S'ils sont
  inexacts, nous vous remercions de nous contacter pour les
  rectifier.</p>
  <ul>
    <li><abbr title="Identifiant national élève">INE</abbr> : {{ candidat.ine }}</li>
    <li>Numéro de dossier Parcoursup : {{ candidat.dossier_parcoursup }}</li>
    <li>Votre adresse : <address>{{ candidat.adresse }}</address></li>
    <li>Date de naissance : {{ candidat.date_naissance }}</li>
    {% if candidat.bac_date %}
    <li>Vous êtes inscrit au baccalauréat en série
      {{ candidat.bac_serie }} lors de la session de
      {{ candidat.bac_date|date:"F Y" }}.</li>
    {% else %}
    <li>Parcoursup ne nous a pas encore communiqué d'information sur
      l'obtention de votre baccalauréat.</li>
    {% endif %}
    <li>État de votre vœu Parcoursup : {{ candidat.voeu_actuel.get_etat_display }}</li>
    {% if candidat.voeu_actuel.internat %}
    <li>Vous êtes admis <em>avec</em> internat.</li>
    {% endif %}
    {% if candidat.voeu_actuel.cesure %}
    <li>Vous avez émis une demande d'année de césure.</li>
    {% endif %}
  </ul>
</section>

{% for fiche in fiches %}{% if fiche.fiche.etat == fiche.fiche.ETAT_EDITION and fiche.fiche.valide %}<form method="post" action="{% url 'fiche-valider' fiche.fiche.pk %}" id='form-valider-fiche-{{fiche.fiche.pk}}'>{% csrf_token %}</form>{% endif %}{% endfor %}
<form method="post" action="{% url 'home' %}" enctype="multipart/form-data">
  {% csrf_token %}

  {% for fiche in fiches %}
  {% include fiche.template with fiche=fiche.fiche fiche_form=fiche.form candidat=fiche.fiche.voeu.candidat voeu=fiche.fiche.voeu formation=fiche.fiche.voeu.formation %}
  {% endfor %}
</form>
{% endblock %}
