{% extends 'base.html' %}

{% block contenu %}
<h2>Bonjour {{ user }}</h2>

<p>Cette page vous permet d'accéder aux données des candidats aux
formations et de suivre l'état de leur dossier d'inscription. Elle vous
donne accès également au paramétrage de vos formations et de l'accès à
l'interface synchrone de Parcoursup.</p>

{% if formation_list %}
<section id='formation-list'>
  <h3>Liste des classes</h3>
  <ul>
    {% for formation in formation_list %}
    <li><a href="{% url 'formation_detail' formation.slug %}">{{ formation }}</a></li>
    {% endfor %}
  </ul>
</section>
{% endif %}

<section id='parametres-parcoursup'>
  <h3>Paramétrage de l'accès à Parcoursup</h3>
  <p>En cours de développement.</p>
</section>
{% endblock %}
