{% extends 'base.html' %}

{% block contenu %}
<h2>Bonjour {{ user }}</h2>

<p>Cette page vous permet d'accéder aux données des candidats aux
formations et de suivre l'état de leur dossier d'inscription. Elle vous
donne accès également au paramétrage de vos formations et de l'accès à
l'interface synchrone de Parcoursup.</p>

{% if formation_list %}
<section id='formation-list'>
  <h3>Liste des classes</h3>
  {% include 'inscrire/formation_tableau.html' %}

  <h3>Import manuel depuis Parcoursup</h3>
  {% include 'inscrire/formation_import_manuel.html' %}
</section>
{% endif %}

<section id='parametres-parcoursup'>
  <h3>Accès à Parcoursup</h3>
  <p>En cours de développement.</p>

  <form action="{% url 'parcoursup-synchro' %}" method="post">
    {% csrf_token %}
    <p><input type="submit" value="Synchronisation manuelle avec Parcoursup"></p>
  </form>

  <h3>Paramétrage des formations</h3>
  <ul>
    <li><a href="{% url 'parametrage_import_structures' %}">Import des
        formations depuis SIECLE</a></li>
  </ul>

  {% if candidattest_users %}
  <h3>Activation de l'interface synchrone Parcoursup</h3>
  <p>Parcoursup peut envoyer les candidats en temps réel lorsqu'ils
  acceptent définitivement la proposition d'admission dans
  l'établissement. Pour activer cette fonction, il faut envoyer à
  Parcoursup un candidat test.</p>
  {% for psup_user in candidattest_users %}
  <form action="{% url 'parametrage_parcoursup_candidattest' psup_user.pk %}" method="post">
    <p>{% csrf_token %}<input type="submit" value="Envoi pour {{ psup_user.etablissement }}"></p>
  </form>
  {% endfor %}
  {% endif %}
</section>
{% endblock %}
