{% extends 'base.html' %}

{% block contenu %}
<h2>Paramétrage des formations</h2>

<p>Voici la liste des formations connues pour chaque établissement géré
par Scripsup. Vous pouvez, sur la page de détail de chaque formation,
régler les paramètres. En particulier, vous pouvez indiquer pour chaque
formation le code sous lequel elle est connue dans Parcoursup, si elle
est ouverte aux inscriptions, et définir quelles options sont ouvertes
dans la formation (par exemple : langues vivantes).</p>

{% endblock %}
