{% extends 'base.html' %}

{% block contenu %}
<h2>Connexion à Parcoursup</h2>

<p>Les échanges de données avec Parcoursup se font de manière
automatisée grâce à l'<em>interface synchrone</em> de Parcoursup. Il est
nécessaire :</p>
<ul>
  <li>d'une part d'aller sur le site de gestion de Parcoursup afin
    d'obtenir la clé de connexion qui permet à Scripsup de se
    connecter ;</li>
  <li>de définir sur Scripsup un mot de passe qui permettra à Parcoursup
    d'envoyer les candidats admis au fil de l'eau. Ce mot de passe doit
    être enregistré sur l'interface de gestion de Parcoursup.</li>
</ul>

<form method="post" action="">
  {% csrf_token %}
  {{ form.as_p }}
  <p><input type="submit" value="Enregistrer les données"/></p>
</form>
{% endblock %}

