{% extends 'base.html' %}

{% block contenu %}
<h2>Demande de réinitialisation de mot de passe</h2>
<p>Nous vous avons envoyé un courrier électronique. Il devrait vous
parvenir d'ici quelques minutes. Ce courrier contient
un lien qui vous permet de réinitialiser votre mot de passe. Ce lien
n'est valide qu'une seule fois.</p>
<p><strong>Pour des raisons de confidentialité</strong>, nous ne pouvons
pas vous dire si l'adresse que vous avez entrée est correcte. Si aucun
compte ne correspond à cette adresse, aucun courrier n'a en fait été
envoyé. En cas de problème particulier, vous pouvez nous contacter.</p>
{% endblock %}
