{% extends 'base.html' %}

{% block contenu %}
<h2>Dossier d'inscription pour {{ candidat }}</h2>
<h3><a href="{% url 'formation_detail' candidat.voeu_actuel.formation.slug %}" >{{ candidat.voeu_actuel.formation}}</a></h3>

<p><a href="{% url 'candidat_dossier' object.pk %}">Version imprimable du
  dossier</a></p>

<section>
  <h2>Dossier Parcoursup</h2>
  <p>Ces informations ont été obtenues automatiquement depuis le dossier
  Parcoursup du candidat.</p>
  <ul>
    <li>Numéro de dossier Parcoursup : {{ object.dossier_parcoursup }}</li>
    <li>Email : <a href="mailto:{{ object.user.email }}">{{ object.user.email }}</a></li>
    <li><abbr title="Identifiant national élève">INE</abbr> : {{object.ine|default_if_none:"Non renseigné"}}</li>
    <li>Date de naissance : {{ object.date_naissance }}</li>
    <li>Responsables légaux :
      <ul>
      {% for responsable in candidat.responsables.all %}
        <li><a href="{% url 'responsablelegal-detail' responsable.pk %}">{{responsable}}</a></li>
      {% endfor %}
      </ul>
    </li>
  </ul>
  {% include "personne.html" with personne=candidat %}
</section>

  {% if candidat.photo %}
  <p>
    Si vous cliquez sur ce bouton, la photo est supprimée et un mail
    est envoyé au candidat lui indiquant que sa photo est inexploitable et doit être
    remplacée:
    <form method="post" action="">
      {% csrf_token %}
      <input type = "submit" name="fonction" Value= "Photo inexploitable">
    </form>
  </p>
  {% endif %}

  {% if candidat.toutes_fiches_valides %}
  <p>Toutes les fiches du candidat sont confirmées.</p>
    <form method="post" action="">
      {% csrf_token %}
      <input type="submit" name="fonction" Value = "Valider toutes les fiches">
    </form>
  {% endif %}

{% for fiche in fiches %}
    {% include fiche.template with fiche=fiche.fiche fiche_form=fiche.form voeu=fiche.fiche.voeu formation=fiche.fiche.voeu.formation %}
{% endfor %}

{% endblock %}
