{% extends 'base.html' %}

{% block contenu %}
<h2>Dossier d'inscription pour {{ object }}</h2>

<section>
  <h2>Dossier Parcoursup</h2>
  <p>Ces informations ont été obtenues automatiquement depuis le dossier
  Parcoursup du candidat.</p>
  <ul>
    <li>Numéro de dossier Parcoursup : {{ object.dossier_parcoursup }}</li>
    <li>Email : <a href="mailto:{{ object.user.email }}">{{ object.user.email }}</a></li>
    <li><abbr title="Identifiant national élève">INE</abbr> : {{object.ine|default_if_none:"Non renseigné"}}</li>
    <li>Date de naissance : {{ object.date_naissance }}</li>
    <li>Responsables légaux :
      <ul>
      {% for responsable in candidat.responsables.all %}
        <li><a href="{% url 'responsablelegal-detail' responsable.pk %}">{{responsable}}</a></li>
      {% endfor %}
      </ul>
    </li>
  </ul>
  {% include "personne.html" with personne=candidat %}
</section>

{% endblock %}
