<p><strong>Bonjour {{ candidat.civilite }} {{ candidat.first_name }}
  {{ candidat.last_name }}.</strong></p>

<p>Vous venez d'accepter sur le site <a
  href="https://parcoursup.fr/">Parcoursup</a> une proposition
d'admission en {{ formation }}. Nous tenons avant tout à vous
féliciter pour votre admission dans notre établissement.</p>

<p>Il vous reste désormais à effectuer les démarches d'inscription
administrative. Vous devez les réaliser directement en ligne, sur le
site d'inscription de l'établissement.</p>

<p>Pour votre première connexion, vous devez activer votre compte
personnel et choisir un mot de passe. Pour cela, cliquez sur le lien
suivant :</p>
<p><a href="{{ lien_activation }}">Accéder au dossier d'inscription</a>
<br><small>{{ lien_activation }}</small></p>

<p>Le site d'inscription vous guidera ensuite pour compléter votre dossier
administratif et pour nous transmettre toutes les pièces
justificatives.</p>

<p>Nous attirons votre attention sur le fait que vous devez réaliser au
plus vite votre inscription administrative.</p>

{% with etablissement=formation.etablissement %}
  {% if etablissement.email_technique %}
    <p>En cas de souci d'ordre technique, vous
      pouvez contacter le service technique à l'adresse
      <a href="mailto:{{ etablissement.email_technique }}">{{ etablissement.email_technique }}</a>.
    </p>
    <p>En cas de problème d'ordre pédagogique, vous
      pouvez vous adresser à <a href="mailto:{{ formation.email_defaut }}">{{ formation.email_defaut }}</a>,
    </p>
  {% else %}
    <p>En cas de souci, qu'il soit d'ordre technique ou administratif, vous
      pouvez contacter le service en charge des inscriptions à l'adresse
      <a href="mailto:{{ formation.email_defaut }}">{{ formation.email_defaut }}</a>
    ou simplement en répondant au message actuel.
    </p>
  {% endif %}

  <p>Veuillez agréer nos cordiales salutations.</p>
  <p><em>{{ etablissement }}</em></p>
{% endwith %}
