{% extends 'base.html' %}
{% block contenu %}
<h2>Détail de la formation {{ object }}</h2>
<section id='candidat-list'>
  <h3>Liste des étudiants</h3>
  {% if candidat_list %}
  <table>
    <thead>
      <tr>
        <th>Candidat</th>
        <th>Etat Dossier</th>
        <th>Date modification</th>
        <th>Date création</th>
        <th>Mail bienvenue</th>
        <th>Photo</th>
      </tr>
    </thead>
    <tbody>
      {% for candidat in candidat_list %}
      <tr>
        <td><a href="{% url 'candidat_detail' candidat.pk %}">{{ candidat.nom_prenom }}</a></td>
        <td>{{candidat.etat_dossier}}</td>
        <td>{{candidat.date_modification}}</td>
        <td>{{candidat.date_creation}}</td>
        <td>{{candidat.email_bienvenue_envoye|yesno:"Oui, Non, Non"}}</td>
        <td><img id='photo-candidat' src="{% if candidat.photo %} {{ candidat.photo.url }}{% endif %}" height="45" width="35" alt="photo absente"></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>Aucun candidat n'a pour le moment été envoyé par Parcoursup.</p>
  {% endif %}
</section>

{% if user.est_administrateur %}
<section>
  <h3>Paramétrage de la formation</h3>
  <form method="post" action="{% url 'formation_update' object.slug %}">
    {% csrf_token %}
    {{ formation_form.as_p }}

    <h4>Options ouvertes</h4>
    <p>Les options suivantes existent dans cette formation. Vous pouvez
    définir lesquelles seront proposées aux étudiants lors de leur
    inscription. Si vous activez ici des options obligatoires, les
    étudiants devront choisir une option obligatoire pour chaque rang.
    </p>
    {{ option_formset.management_form }}
    <ul>
      {% regroup option_formset by instance.rang as option_formset_rangs %}
      {% for rang in option_formset_rangs %}
      <li>{% if rang.grouper == 0 %}Facultatives{% else %}Rang {{ rang.grouper }}{% endif %} :
        <ul>
          {% for option_form in rang.list %}
          <li>{% for hidden in option_form.hidden_fields %}{{ hidden }}{% endfor %}{{ option_form.inscriptions }}
            <label for="{{ option_form.inscriptions.id_for_label }}">{{ option_form.instance.matiere }} ({{ option_form.instance.get_modalite_display }}{% if option_form.instance.modalite == option_form.instance.MODALITE_OBLIGATOIRE %}, rang {{ option_form.instance.rang }}{% endif %})</label></li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>

    <p><input type="submit" value="Enregistrer"></p>
  </form>
</section>
{% endif %}
{% endblock %}
