{% extends 'base.html' %}
{% block contenu %}
<h2>Détail de la formation {{ object }}</h2>
<section id='candidat-list'>
  <h3>Liste des étudiants</h3>
  {% if candidat_list %}
  <table>
    <thead>
      <tr>
        <th>Candidat</th>
        <th>État du dossier</th>
      </tr>
    </thead>
    <tbody>
      {% for candidat in candidat_list %}
      <tr>
        <td><a href="{% url 'candidat_detail' candidat.pk %}">{{ candidat }}</td>
        <td></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>Aucun candidat n'a pour le moment été envoyé par Parcoursup.</p>
  {% endif %}
</section>
{% endblock %}
