{% if formation_list %}
<table>
  <thead>
    <tr>
      <th rowspan="2">Nom</th>
      <th rowspan="2">Code Parcoursup</th>
      <th colspan="4">Candidats</th>
    </tr>
    <tr>
      <th>Total</th>
      <th>Edition</th>
      <th>Complets<//th>
      <th>Terminés</th>
    </tr>
  </thead>
  <tbody>
    {% for formation in formation_list %}
    <tr>
      <td><a href="{% url 'formation_detail' formation.slug %}">{{ formation.nom }}</a></td>
      <td>{{ formation.code_parcoursup|default:"" }}</td>
      <td>{{ formation.candidats|length }}</td>
      <td>{{formation.candidats_etat_edition|length}}</td>
      <td>{{formation.candidats_etat_complet|length}}</td>
      <td>{{formation.candidats_etat_termine|length}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<p>Aucune formation n'a été paramétrée pour le moment.</p>
{% endif %}
