{% extends 'base.html' %}

{% block contenu %}
<h2>Mailing</h2>
<section>
<form method="post" %}">
  {% csrf_token %}
  {{ form.as_p }}
  <p><input type="submit" name= "fonction" value="Enregistrer sans envoyer"></p>
  <p><input type="submit" name="fonction" value="Envoyer"></p>
</form>
</section>
{% if mailing and not mailing.brouillon %}
<p>Ce message a déjà été envoyé. Il n'est donc plus possible d'en modifier les champs "De", "Répondre à", "Sujet" et "Message".
  Pour mémoire, ce sont:</p>
<section>
  <p><strong>De:</strong> {{mailing.de}}</p>
  <p><strong>Répondre à:</strong> {{mailing.repondre_a}}</p>
  <p><strong>Sujet:</strong> {{mailing.sujet}}</p>
  <p><strong>Message:</strong> {{mailing.message|linebreaks}}</p>
</section>
{% endif %}

{% endblock %}
